:root{
	--primary:  red;
	--secondary:  green;
}

.container{
	display: flex;

}
.bg1{
	background: var(--primary);
	width: 100%;
	height: 50vh;
	
}
.bg2{
	background: green;
	width: 100%;
	height: 50vh;
	
}
.bg3{
	background: red;
	width: 100%;
	height: 50vh;
	
}
